@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* RALPH STRICT FLUID CORE */
  --design-width: 1728;
  --design-unit: 16px;
  /* 1rem will equal this fluid value */
  --fluid-font: calc(100vw / var(--design-width) * var(--design-unit));

  /* ANIMATION VARS */
  --cubic-default: cubic-bezier(0.25, 1, 0.5, 1);
}

html {
  font-size: var(--fluid-font);
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  /* overscroll-behavior: none; */
  /* Disabled to allow native scroll feel */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #ccff00;

  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}

/* Compatibility for Tailwind v4 border colors */
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}